body {
    margin: 5px;
    background-color: #0099E6;
    color: White;
}

h1 {
    margin: 0;
}

#dealerCards {
    min-height: 60px;
}

#dealerScore {
    min-height:  20px;
}

#playerCards {
    min-height: 60px;
}

#playerScore {
    min-height: 20px;
}

#result {
    min-height: 20px;
}

img.card {
    height: 12px;
    width: 12px;
}