body {
    margin: 5px;
    background-color: #0099E6;
    color: White;
}

h1 {
    margin: 0;
}

#dealer {
    min-height: 80px;
}

#player {
    min-height: 60px;
}

#result {
    min-height: 20px;
}

img.card {
    height: 12px;
    width: 12px;
}